.container {
  display: flex;

  justify-content: center;
  background-color: white;
}
tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.col {
  display: flex;
  margin: 5px;
  width: 25%;
  height: 30px;
}
.row {
  display: flex;
  justify-content: center;
  width: 100%;
}
