<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <input list="stations" placeholder="Asema" [(ngModel)]="station">
  <datalist id="stations">
    <option *ngFor="let stat of stations" value={{stat.stationName}} id={{stat.stationShortCode}}>

  </datalist>
  <nav>

    <ul>

      <li>
        <a routerLink="/arrivals" routerLinkActive="active">Saapuvat</a>
      </li>
      <li>
        <a routerLink="/departures" routerLinkActive="active">Lähtevät</a>
      </li>
    </ul>


  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>