<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <input list="stations" placeholder="Asema" [(ngModel)]="station">
  <datalist id="stations">
    <option *ngFor="let stat of stations" value={{stat.stationName}} id={{stat.stationShortCode}}>

  </datalist>
  <div>
    <nav>

      <ul>

        <li>
          <a routerLink="/arrivals" routerLinkActive="active">Saapuvat</a>
        </li>
        <li>
          <a routerLink="/departures" routerLinkActive="active">Lähtevät</a>
        </li>
      </ul>


    </nav>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>



</div>